@import 'index';

.header-reservation {
    background-image: url('../img/expo/HeaderReserv.jpg');
    padding-top: 5rem;
    height: 30vh;
    background-size: cover;
    background-position: center;
}
.divdeh1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -20%);
    pointer-events: none;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;

.reservh1 {
    color: $text-white-color;
    font-size: 6rem;
    margin-top: 0;
    padding: 1rem;
    background-image: url('../img/accueil/fond_carton.jpg');
    text-transform: uppercase;
}
}
.reservationsection {
    display: flex;
    justify-content: center;
    align-items: stretch; 
    padding-top: 4%;
    background-image: url('../img/accueil/fond_carton.jpg');
    .divparentreservation {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        .divform, .div-droitereserv {
            flex: 0.4;
            padding: 3rem;
        }
    }
}
    .divpanier {
        width: 100%;
        padding: 0 2.5rem 2.5rem 2.5rem;
        background-color: $background-gris;
        text-align: center;
        display: flex;
        flex-direction: column;
        h2 {
            font-size: 2rem;
            align-self: start;
        }

    }
    .divpetiteaffiche {
        display: flex;
        justify-content: space-around;
        align-items: center;
        img {
            width: 150px;
            height: auto;
        }
    }
    .divpanierinfo {
        display: flex;
        align-items: center;
        margin-top: 2rem;
        padding: 2rem;
        background-color: $background-gris;
    }
    .panier-resume {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        padding: 2rem;
        background-color: $text-white-color;
        border: 4px solid $rouge-color;

        visibility: hidden;

        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 75%, rgba(193,18,31,0.31) 75%);
            z-index: 1;
        }
        
        .resumep {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-top: 0;
            z-index: 2;
        }
        h3 {
            font-size: 1.5rem;
            align-self: start;
            margin: 0;
            z-index: 2;
            text-transform: uppercase;
        }
        .panierligne {
        background-color: $text-black-color;
        width: 100%;
        height: 2px;
        z-index: 2;
        }
        .totalp {
        display: flex;
        width: 100%;
        justify-content: space-between;
        z-index: 2;
        }
        .resume-button {
            margin-top: 15px;
            padding: 15px 60px;
            color: #1f1f1f;
            background-color: #fff;
            border: 3px solid #1f1f1f;
            cursor: pointer;
            font-weight: bold;
            transition: all 0.3s ease;
            z-index: 2;
            &:hover {
                background-color: #1f1f1f;
                color: #fff;
            }
        }
    }

// ============================================================================================
.form-container {
    width: 100%;
    padding: 0 2.5rem 2.5rem 2.5rem;
    background-color: $backgroung-ticket-color;
    text-align: center;
    display: flex;
    flex-direction: column;
    
    h2 {
        text-transform: uppercase;
        display: flex;
        font-size: 2rem;
    }
  }
  
  .calendar-container {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: $text-white-color;
    width: 26.875rem;
    align-self: center;
  }
  
  .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .calendar-header button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }
  
  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
  }
  
  .calendar-day-header {
    font-weight: bold;
    padding: 5px;
  }
  
  .calendar-empty {
    height: 30px;
  }
  
  .calendar-day {
    padding: 10px;
    background-color: $text-white-color;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      background-color: $rouge-color;
      color: $text-white-color;
    }
  }
  
  .selected {
    background-color: $rouge-color;
    color: white;
  }
  
  .time-selection {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
  }
  
  .time-button {
    padding: 10px 30px;
    border: 2px solid #333;
    background: white;
    cursor: pointer;
    justify-content: center;
    align-items: center; 
    width: 100px;
    display: flex;
    transition: all 0.3s ease;

    &:hover {
      background-color: $rouge-color;
        color: $text-white-color;
    }
  }
  
  .time-button.selected {
    background-color: $rouge-color;
    color: $text-white-color;
  }
  
  .selected-text {
    margin-top: 10px;
    font-weight: bold;
    z-index: 10;
    align-self: start;
  }
  
  .tarif-box {
    margin-top: 20px;
    padding: 20px;
    border: 2px solid #ccc;
    background: white;
    display: flex;
    justify-content: space-between;
  }

  .tarif-quantity {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: column;
    select {
        width: 100%;
        height: 100%;
        text-align: center;
    }
    .tarif-price {
        font-weight: bold;
        display: flex;
    }
  }
  .p_prix {
    margin-top: 0;
} 

.tarif-info {
    p {
        margin-top: 0;
    }
}
.boutton-container-reservationForm {
    display: flex;
    justify-content: space-between;
      .submit-button {
    margin-top: 15px;
    padding: 10px 20px;
    color: $text-black-color;
    background-color: $text-white-color;
    border: 3px solid $text-black-color;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
    &:hover {
        background-color: $text-black-color;
        color: $text-white-color;
    }
  }
  .cancel-button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: $text-black-color;
    color: $text-white-color;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
    &:hover {
        background-color: $text-white-color;
        color: $text-black-color;
    }
  }
}


// ============================================================================================

.panier-resume form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    width: 100%;
    z-index: 10;
}

.panier-resume form div {
    display: flex;
    flex-direction: column;
}

.panier-resume form label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.panier-resume form input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.panier-resume form input:focus {
    border-color: $text-black-color;
    outline: none;
}
.success-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.success-overlay.hidden {
    opacity: 0;
    pointer-events: none;
}

.success-message {
    background: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    color: $text-black-color;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 80%;
    text-align: start;
}

.success-message p {
    margin: 10px 0;
}

@media (max-width: 1024px) {
    .reservationsection {
        .divparentreservation {
            .divform {
                padding: 3rem 1rem 1rem 1rem;
            }
            .div-droitereserv {
                padding: 3rem 1rem 1rem 1rem;
            }
        }
    }
}
@media (max-width: 900px) {

    .reservationsection {
        .divparentreservation {
            flex-direction: column;
        }
    }
    .calendar-container {
        padding: 0;
        width: auto;
      }
      .calendar-header {
        padding: 0;
      }
      .calendar-grid {
        gap: 0;
      }
      .divdeh1 {
        top: 25%;
        right: 7%;
        .reservh1 {
            font-size: 3rem;
        }
      }
}